.header__logo {
  width: 142px;
  height: 33px;
  cursor: pointer;
  margin: 0;
  transition: 0.5s ease;
}

.header__logo:hover {
  opacity: 50%;
  transition: 0.5s ease;
}

@media screen and (max-width: 500px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin-left: 27px;
  }
}

@media screen and (max-width: 380px) {
  .header__logo {
    margin-left: 0;
  }
}

