/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/

@import url(./vendor/normalize.css);
@import url(./vendor/fonts/inter.css);

@import url(./blocks/body/body.css);
@import url(./blocks/page/page.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__navBar/header__navBar.css);
@import url(./blocks/header/__nav/header__nav.css);
@import url(./blocks/header/__nav-link/header__nav-link.css);
@import url(./blocks/header/__exit-button/header__exit-button.css);
@import url(./blocks/header/__nav-reg/header__nav-reg.css);


@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__contaner/profile__contaner.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__job/profile__job.css);
@import url(./blocks/profile/__avatar-button/profile__avatar-button.css);

@import url(./blocks/cards/cards.css);

@import url(./blocks/card/__container/card__container.css);
@import url(./blocks/card/__image/card__image.css);
@import url(./blocks/card/__like-button/card__like-button.css);
@import url(./blocks/card/__like-button/_active/card__like-button_active.css);
@import url(./blocks/card/__text/card__text.css);
@import url(./blocks/card/card.css);
@import url(./blocks/card/__delete-button/card__delete-button.css);
@import url(./blocks/card/__img-container/card__img-container.css);
@import url(./blocks/card/__likes-container/card__likes-container.css);
@import url(./blocks/card/__counter/card__counter.css);
@import url(./blocks/card/__trush-button/card__trush-button.css);
@import url(./blocks/card/__trush-button/_hidden/card__trush-button_hidden.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_opened/popup_opened-dark.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__form/_profile-disabled/popup__form_profile-disabled.css);
@import url(./blocks/popup/__picture-container/popup__picture-container.css);
@import url(./blocks/popup/__picture-name/popup__picture-name.css);
@import url(./blocks/popup/__picture/popup__picture.css);
/*@import url(../blocks/popup/__picture-close-button/popup__picture-close-button.css);
@import url(../blocks/popup/__picture-fullsize/popup__picture-fullsize.css);*/
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__button/_disabled/popup__button_disabled.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);
@import url(./blocks/popup/__error/_hide/popup__error_hide.css);
@import url(./blocks/popup/__button/_block/popup__button_block.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__yes-button/popup__yes-button.css);

@import url(./blocks/infoTooltip/__pic/infoTooltip__pic.css);
@import url(./blocks/infoTooltip/__pic/_fail/infoTooltip__pic_fail.css);
@import url(./blocks/infoTooltip/__pic/_success/infoTooltip__pic_success.css);
@import url(./blocks/infoTooltip/__title/infoTooltip__title.css);

@import url(./blocks/login/__container.css);
@import url(./blocks/login/__button/login__button.css);
@import url(./blocks/login/__form/login__form.css);
@import url(./blocks/login/__title/login__title.css);
@import url(./blocks/login/__input/login__input.css);
@import url(./blocks/login/__subtitle/login__subtitle.css);
@import url(./blocks/login/__subtitle/_enter/login__subtitle_enter.css);


@import url(./blocks/footer/footer.css);

