.header {
  width: 100%;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(54, 54, 54, 0.7);
  padding-bottom: 41px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  .header {
    margin-top: 28px;
    margin-bottom: 38.25px;
    padding-bottom: 31.6px;
  }
}

@media screen and (max-width: 380px) {
  .header {
    flex-direction: column;
    text-align: center;
  }
}
